<?php

/**
 * Config for logger that write logs to stdout
 * Copy this file in logger.local.php to get it
 */
return [
    "dependencies" => [
        'abstract_factories' => [
            LoggerAbstractServiceFactory::class,
        ],
        'factories' => [
            Logger::class => LoggerServiceFactory::class,
            'LogFilterManager' => FilterPluginManagerFactory::class,
            'LogFormatterManager' => FormatterPluginManagerFactory::class,
            'LogProcessorManager' => ProcessorPluginManagerFactory::class,
            'LogWriterManager' => WriterPluginManagerFactory::class,
        ],
    ],
    'log' => [
        LoggerInterface::class => [
            'writers' => [
                [
                    'name' => WriterNoop::class,
                ],
            ],
        ],
    ]
];
